<div class="headBox">
  <el-form label-width="100px">
    <el-form-item label="姓名">
      <el-input [model]="userName"></el-input>
    </el-form-item>
    <el-form-item label="年龄">
      <el-input [model]="age"></el-input>
    </el-form-item>
    <el-form-item label="性别">
      <el-select [model]="sex" [class.select]="true">
        <el-option *ngFor="let item of SexArr" [label]="item.value" [value]="item.id"></el-option>
      </el-select>
    </el-form-item>
  </el-form>
</div>
